.sortingLinks {
    cursor: pointer;
}

.active {
    border-bottom: 2px solid green;
}
md-badge{
    margin: 0 0 0 8px;
    background-color: #F44336;
    color: white;
    padding: 2px 4px;
    border-radius: 4px;
}
.checkoutPage > div{
    padding: 10px;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.text-center{
    text-align: center;
}
.leftpanel {
    display:inline-block;
    width:80%;
    margin:0;
}
.rightpanel {
    display:inline-block;
    width:20%;
    text-wrap:none;
}
.horline{
    border-bottom: 1px solid black;
}
